.container {
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 50px;
    width: 960px;
}

#navName {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 15px;
    margin-left: 12%;
    bottom: 0;
    position: absolute;
}

#navItems {
    margin-left: 74%;
}

#colored-header {
    padding-top: 10px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#navigation {
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    min-height: 59px;
    width: 100%;
}

#profile-picture {
    width: 100%;
    height: 100%;
}

#portfolio-image {
    width: 100%;
    height: 80%;
}
 
.bottom-center {
    position: relative;
    bottom: 65px;
    padding: 10px;
    background-color: #4aaaa5;
    width: 100%;
    padding-left: 40%;
}

#name-field {
    width: 100%;
    margin-bottom: 10px;
}

#email-field {
    width: 100%;
    margin-bottom: 10px;
}

#message-area {
    width: 100%;
    height: 50%;
}

#submit-button {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #4aaaa5;
    border: 2pt solid #4aaaa5;
}

footer {
    background-color: #666666;
    padding: 12px;
    width: 100%;
    text-align: center;
    border-top: 3.5pt solid #4aaaa5;
}


@media screen and (max-width: 1210px) {
    #profile-picture {
        width: 150px;
        height: 170px;
    }
}

@media screen and (max-width: 992px) {
    #profile-picture {
        width: 120px;
        height: 150px;
    }
}