body {
    background: url('../images/ocean-background.jpg')  no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

table {
    width: 100%;
    border: 2pt dashed navy;
    height: 100%;
}

tr, th, td, p {
    text-align: center;
    color: white;
    border-left: 2pt dashed navy;
}

p {
    font-size: 16pt;
    font-family: 'Anton', sans-serif;
}

td {
    vertical-align: middle;
    box-sizing: unset;
}

#caption {
    font-size: 20pt;
    color: oldlace;
    text-align: center;
    caption-side: top;
    font-family: 'Anton', sans-serif;
}

#title {
    text-align: center;
    font-size: 58pt;
    color: mediumblue;
    font-family: 'Anton', sans-serif;
}

#theme {
    text-align: center;
    font-size: 30pt;
    color: mediumblue;
    font-family: 'Anton', sans-serif;
}

img {
    height: 45%;
    width: 45%;
}

.container {
    margin-bottom: 5%;
}
