* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
  }

  #wrap {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
  }
  
  h1 {
    margin-bottom: 20px;
    line-height: 44px;
    font-size: 40px;
  }

  p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
  }
  

  #fixed {
    position: fixed;
    padding: 40px;
    text-align: center;
    background-color: #eee;
  }

  #relative {
    position: relative;
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #eee;
  }

  #absolute {
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 240px;
    padding: 20px;
    text-align: center;
    background-color: #999;
  }